body {
    background-image: linear-gradient(to bottom , rgb(63, 22, 22), black) ;
    font-family: Arial, Helvetica, sans-serif;
}

    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    
    }
    p:hover {
        background-color: transparent;
        transition: 1s;
    }